/* Set core root defaults */
html {
    scroll-behavior: smooth;
}
//! добавил
html {
    @media screen and (max-width: 1280px) {
        font-size: 16px;
    }
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
    @media screen and (max-width: 480px) {
        font-size: 14px;
    }
}
/* Box sizing rules */
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Set core body defaults */
/* Выставляем основные настройки по-умолчанию для body */
//! добавил
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #2c3e50;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
/* Remove default margin */
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
    margin: 0;
}
ol,
p,
ul {
    line-height: 1.5;
}
/* Remove default padding */
/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}
/* Remove list styles on ul, ol elements with a class attribute */
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
// Title
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.4;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
}

h3 {
    font-size: 1.35rem;
}

/* A elements that don't have a class get default styles */
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
    font-weight: 500;
}
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* Наследуем шрифты для инпутов и кнопок */
input,
    // button,
textarea,
select {
    font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
    filter: blur(10px);
}
/* ==================================================================*/
//! добавил
section,
.section {
    position: relative;
    padding: 0;
    @media screen and (max-width: 1024px) {
        padding: 36px 0;
    }
    @media screen and (max-width: 768px) {
        padding: 28px 0;
    }
    @media screen and (max-width: 480px) {
        padding: 20px 0;
    }
}
//====================================================================
//! добавил
hr {
    margin: 1rem 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    flex: 0 0 auto;
    position: relative;
    margin: 0 auto;
    // max-width: $desktopWidth;  //!!!!! изменил контейнер max-width: 1000px; с 1280
    @media screen and (max-width: 1024px) {
        max-width: 768px;
    }
    @media screen and (max-width: 768px) {
        max-width: 480px;
    }
    @media screen and (max-width: 480px) {
        max-width: 320px;
    }
}
//====================================================================
// Style Buttons
.btn {
    color: #0077ff;
    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    border: 1px solid #0077ff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    box-shadow: 2px 2px 3px #606266;
    &:active {
        box-shadow: none;
    }
    &:hover {
        opacity: 0.8;
    }
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 1 !important;
    background: #eee !important;
    border-color: #ddd !important;
    color: #999 !important;
}


.btn.blue {
    background: #0077ff;
    color: #fff;
}
//====================================================================
// Default styling classes
// Стилизационные классы по умолчанию
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-5 {
    padding-top: 5rem;
}
.mt-1{
    margin-top: 1rem;
}
.form-control {
    position: relative;
    margin: 0 0 0.5rem 0;
    outline: none;
    border: 2px solid #ccc;
    display: block;
    width: 100%;
    color: #2c3e50;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    font-size: 1rem;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.card.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
//====================================================================
